[submodule "config/ranger/plugins/devicons2"]
	path = config/ranger/plugins/devicons2
	url = https://github.com/cdump/ranger-devicons2
[submodule "config/ranger/plugins/ranger_fzf_filter"]
	path = config/ranger/plugins/ranger_fzf_filter
	url = https://github.com/MuXiu1997/ranger-fzf-filter.git
[submodule "config/ranger/plugins/ranger-archives"]
	path = config/ranger/plugins/ranger-archives
	url = https://github.com/maximtrp/ranger-archives.git
